#md-preview{
    width: 50%;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 10px 10px 10px;
    word-break:break-all;
}

#md-input{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Markdown Style*/
@import url(//fonts.googleapis.com/css?family=PT+Sans);

.markdown{
    font-family: 'PT Sans', Helvetica, 'Helvetica Neuve', Arial, Tahoma, sans-serif;
}
.markdown h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
}

.markdown h1 { font-size: 2em; line-height: 1; }
.markdown h2 { font-size: 1.6em; line-height: 1.25; border-bottom: 1px solid #c0c0c0}
.markdown h3 { font-size: 1.4em; line-height: 1.25; border-left: 3px solid darkseagreen;padding-left: 10px}
.markdown h4 { font-size: 1.2em; line-height: 1.25; }
.markdown h5 { font-size: 1em;   line-height: 1; }
.markdown h6 { font-size: 1em;   line-height: 1; color: #999999}

.markdown p, ul, ol, table, pre, dl {
    margin:0 0 20px;
}

.markdown ul, ol{
    padding-left: 3.333em;
}
.markdown ul{
    list-style: circle;
}

.markdown blockquote {
    border-left:2px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
    background-color: #fafafa;
}

.markdown code, pre {
    color:#333;
    font-size:0.85rem;
    line-height: 1.25;
    font-weight: normal;
}

.markdown pre {
    padding:8px 15px;
    background: #f8f8f8;
    border:1px solid #e5e5e5;
    overflow-x: auto;
}

.markdown table {
    width:100%;
    border-collapse:collapse;
}

.markdown th, td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5;
}

.markdown dt {
    color:#444;
    font-weight:700;
}

.markdown th {
    color:#444;
}

.markdown img {
    max-width:100%;
}

.markdown strong {
    color:#222;
    font-weight:700;
}

.markdown hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}


