<!DOCTYPE HTML>
<html>
    <head>
        <title>Seek Better Me</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Wenson Smith's Blog . Record my lives" />
        <meta name="keywords" content="iSeeker seekbetter wensonsmith" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/seekbetter.css" type="text/css" rel="stylesheet">
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <script src="/public/javascripts/jquery.min.js"></script>
        <script src="/public/javascripts/skel.min.js"></script>
        <script src="/public/javascripts/skel-panels.min.js"></script>
        <script src="/public/javascripts/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="/public/stylesheets/skel-noscript.css" />
            <link rel="stylesheet" href="/public/stylesheets/style.css" />
            <link rel="stylesheet" href="/public/stylesheets/style-wide.css" />
        </noscript>
        <!--[if lte IE 9]><link rel="stylesheet" href="/public/stylesheets/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/public/stylesheets/ie8.css" /><![endif]-->
    </head>
    <body>