<!-- sidebar -->
{{> sidebar}}

<div class="main">
    <div class="row">
        <section class="column">
            <header style="text-align: center">
                <div>
                    <img class="seeker-logo" src='/public/images/logo.png' alt="SeekBetter.Me">
                </div>
                <div>
                    <div class="seeker-title">Seek Better . Me</div>
                    <div class="seeker-subtitle"> You have got to find what you love</div>
                </div>
            </header>
        </section>
    </div>

    <!-- Articles -->
    {{#article}}
    <div class="article {{class}}">
        <div  class="row">
            <article class="column">
                <header>
                    <div class="title"><a href="article/{{_id}}" title="{{title}}">{{title}}</a></div>
                    <div class="metadata">
                        <i class="typcn typcn-calender"><span>{{create_at}}</span></i>
                        <!--<i class="typcn typcn-message"><span>80</span></i>-->
                        <i class="typcn typcn-tag"><span>{{tags}}</span></i>
                    </div>
                </header>
                <section class="section">
                    {{{content}}}
                </section>
            </article>
        </div>
    </div>
    {{/article}}

</div>
