extends ../layout

block content
	div.jumbotron
		.container
			h1 Welcome
			p 夕阳无限好，天色已黄昏
			p
				a.btn.btn-primary.btn-lg Enter
	#container.container
		.col-md-3
			.list-group
				a.list-group-item haha
				a.list-group-item hehe

		.col-md-9
			!{s}
