extends ../public/header

block css
	link(rel='stylesheet' href='/stylesheets/index.css')

block content
	include ../public/sidebar

	.content
		.container
			.col-md-8
				div
					h2 I am the title
			.col-md-4
				div
					strong 2013.12.28
