{{>header}}

<body>
    {{>sidebar}}

    <section class="wrapper">
        <header class="header">
            <a class="logo-text" href="./" title="返回seekbetterme首页">Seek Better . Me</a>
            <pre class="title-main">You’ve  got  to  find  what  you  love</pre>
        </header>

        <div class="container">
            <article class="article text clearfix">
                <div class="category">
                </div>
                <div class="content">
                    <div class="headline">Hello world!</div>
                    <div class="summary">
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!

                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!


                    </div>
                </div>
                <div class="metadata">
                    <div class="date">
                        <div class="day">12</div>
                        <div class="year">2013.11</div>
                    </div>
                </div>
            </article>

            <article class="article text clearfix">
                <div class="category">
                </div>
                <div class="content">
                    <div class="headline">Hello world!</div>
                    <div class="summary">
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!

                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!


                    </div>
                </div>
                <div class="metadata">
                    <div class="date">
                        <div class="day">12</div>
                        <div class="year">2013.11</div>
                    </div>
                </div>
            </article>

            <article class="article text clearfix">
                <div class="category">
                </div>
                <div class="content">
                    <div class="headline">Hello world!</div>
                    <div class="summary">
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!
                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!Hello world ,in every day and every moment ,we have you with retina display is well and FGood!

                        Hello world ,in every day and every moment ,we have you with retina display is well and FGood!


                    </div>
                </div>
                <div class="metadata">
                    <div class="date">
                        <div class="day">12</div>
                        <div class="year">2013.11</div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <footer>
        <div class="footer">
            有感情就会一生一世么
        </div>
        <div class="copyright">
            由 <b>iSeeker</b>强力驱动
        </div>
    </footer>
</body>