<!-- sidebar -->
{{> sidebar}}

<div class="main">
    <div class="row">
        <section class="column">
            <header style="text-align: center">
                <div>
                    <img class="seeker-logo" src='/public/images/logo.png' alt="SeekBetter.Me">
                </div>
                <div>
                    <div class="seeker-title">Seek Better . Me</div>
                    <div class="seeker-subtitle"> You have got to find what you love</div>
                </div>
            </header>
        </section>
    </div>


    <!-- Articles -->
    <div class="article first">
        <div  class="row">
            <article class="column">
                <header>
                    <div class="title">你好，世界！ Hello world!</div>
                    <div class="metadata">
                        <i class="typcn typcn-calender"><span>2014-1-8</span></i>
                        <i class="typcn typcn-message"><span>80</span></i>
                        <i class="typcn typcn-tag"><span>感悟</span><span>感悟</span><span>感悟</span></i>
                    </div>
                </header>
                <section class="section">
                    Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                    egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                    Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                    fusce hendrerit lacus ridiculus.
                </section>
            </article>
        </div>
    </div>

    <div class="article second">
        <div  class="row">
            <article class="column">
                <header>
                    <div class="title">你好，世界！ Hello world!</div>
                    <div class="metadata">
                        <i class="typcn typcn-calender"><span>2014-1-8</span></i>
                    </div>
                </header>
                <section class="section">
                    Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                    egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                    Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                    fusce hendrerit lacus ridiculus.
                </section>
            </article>
        </div>
    </div>

    <div class="article third">
        <div  class="row">
            <article class="column">
                <header>
                    <div class="title">你好，世界！ Hello world!</div>
                    <div class="metadata">
                        <i class="typcn typcn-calender"><span>2014-1-8</span></i>
                    </div>
                </header>
                <section class="section">
                    Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
                    egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
                    Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
                    fusce hendrerit lacus ridiculus.
                </section>
            </article>
        </div>
    </div>
</div>
