extends ../public/header

block css
	link(rel='stylesheet' href='/stylesheets/index.css')

block content
	include ../public/sidebar

	.content
		div.clearfix(style="margin:50px 30px")
			.col-md-12
				div
					h2 Seek Better . Me
					h6 You’ve got to find what you love .If you haven’t found it yet, keep looking. Don’t settle.
		div(style='margin-top:50px')
			.col-md-1
				div(style='backgroud:#CCC') what
			.col-md-7
				p.title Hello world,how are you?
			.col-md-4
				span 2012-12-29
