extends ../layout

block content
	h1= title
	p Welcome to #{title}
	#container.container.col-lg-5
		#login
			form.form-horizontal
				.form-group
					label.sr-only(for='email') Email
					input#email.form-control(type='text' placeholder='Email')

				.form-group
					label.sr-only(for='password') Password
					input#password.form-control(type='password' placeholder='Password')

				button.btn.btn-default(type='submit') Sign in