<!-- sidebar -->
{{> sidebar}}

<div class="main">
    <div class="row collapse">
        <div class="left large-4 columns">
            <div class="logo clearfix">
                <img  class="mylogo" src='/public/images/wensonsmith.png'>
                <div class="myname">WENSON<br/>SMITH</div>
            </div>

            <ul class="contact">
                <li><span>Call</span>186-0018-2132</li>
                <li><span>Mail</span>wensonsmith@gmail.com</li>
                <li><span>Weibo</span>WensonSmith</li>
            </ul>

            <div class="introduction">
                <span>Hello,</span> I'm a Product Designer . Do what is important as how to do it.
                So after two years programmer career, i decide to be a Product Designer.
            </div>


        </div>
        <div class="right large-8 columns">
            <div class="row">
                <div class="caption column">EXPERIENCE</div>
                <div class="row">
                    <div class="large-4 columns">
                        <div class="title">
                            北京趣游科技
                        </div>
                        <div class="description">
                            2014.05 - 至今
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="title">
                            产品设计
                        </div>
                        <div class="description">
                            YouXi.com 平台产品工作。
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <div class="title">
                            北京智明星通科技（337组）
                        </div>
                        <div class="description">
                            2013.03 - 2014.05
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="title">
                            PHP - JS - CSS 全端
                        </div>
                        <div class="description">
                            337游戏官网，平台游戏活动支持。<br>
                            客服中心开发及维护，后台管理设计和开发。
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <div class="title">
                            北京智明星通科技（GOE组）
                        </div>
                        <div class="description">
                            2012.07 - 2013.03
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="title">
                            PHP开发程序猿 （GOE项目组）
                        </div>
                        <div class="description">
                            负责手游项目《三国了没》（GOE）的服务端开发。<br>
                            同时负责维护游戏数据统计后台。
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <div class="caption">EDUCATION</div>
                    <div class="title">鲁东大学 • 山东烟台</div>
                    <div class="description">计算机科学与技术</div>
                    <div class="caption">HOBBIES</div>
                    <div class="title">无乐不作，不折腾不舒服星人</div>
                    <div class="tags">
                        <span class="yellow love">跑步</span>
                        <span class="red interest">书法</span>
                        <span class="green">完美主义</span>
                        <span class="red">电子控</span>
                        <span class="blue love">麦霸</span>
                        <span class="yellow like">骑行</span>
                        <span class="green love">拖延症</span>
                        <span class="red">脑洞大</span>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="caption">SKILLS</div>
                    <div class="skill">
                        产品设计
                        <div class="bar row collapse">
                            <div class="score blue large-6 columns"></div>
                        </div>
                    </div>
                    <div class="skill">
                        PHP开发
                        <div class="bar row collapse">
                            <div class="score green large-10 columns"></div>
                        </div>
                    </div>
                    <div class="skill">
                        JS & NodeJS
                        <div class="bar row collapse">
                            <div class="score yellow large-5 columns"></div>
                        </div>
                    </div>
                    <div class="skill">
                        HTML5 & CSS
                        <div class="bar row collapse">
                            <div class="score red large-3 columns"></div>
                        </div>
                    </div>
                    <div class="skill">
                        Guitar
                        <div class="bar row collapse">
                            <div class="score blue large-1 columns"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>