{{#yield-css}}
<link href="/public/stylesheets/editor/codemirror.css" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/editor/markdown.css" media="all" rel="stylesheet" type="text/css" />
{{/yield-css}}

<div class="container">
    <div class="row">
        <div class="6u">
            <textarea id="editor" data-preview="#preview">
                Hello world!
            </textarea>
        </div>
        <div id="preview" class="6u markdown-body">

        </div>
    </div>
</div>

{{#yield-scripts}}
<script data-main="/public/javascripts/editor/editor" src="/public/javascripts/components/requirejs/require.js"></script>
{{/yield-scripts}}