<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="zh-cn" > <![endif]-->
<html class="no-js" lang="zh-cn" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wensonsmith,blog,seekbetter,iseeker" />
    <meta name="description" content="You have got to find what you love,keep looking ,don't settle" />
    <title>Seek Better Me</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/foundation.min.css">

    <!-- Font CSS -->
    <link rel="stylesheet" href="/public/stylesheets/font/typicons.min.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="/public/stylesheets/seekbetter.css">
    <link rel="stylesheet" href="/public/stylesheets/editor/markdown.css">
    <link rel="stylesheet" href="/public/stylesheets/editor/rainbow.css">
    {{{yield-css}}}

</head>
<body>

<!-- body content here -->
{{{yield}}}


<script data-main="/public/javascripts/main" src="/public/javascripts/components/requirejs/require.js"></script>
{{{yield-script}}}
</body>
</html>