<div id="header" class="sidebar">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <a href="/wensonsmith" class="image avatar48"><img src="/public/images/avatar.jpg" alt="WensonSmith" /></a>
            <a href="/wensonsmith"><h1 id="title">Wenson Smith</h1></a>
            <span class="byline">Product Designer</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="/" class="active">
                        <span>文章</span> <i class="typcn typcn-th-menu"></i>
                    </a>
                </li>
                <li>
                    <a href="/timemachine">
                        <span>时光机</span> <i class="typcn typcn-spiral"></i>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="#about">-->
                        <!--<span>Search</span> <i class="typcn typcn-zoom"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a href="/wensonsmith">
                        <span>关于</span> <i class="typcn typcn-user"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="#" ><i class="typcn typcn-social-twitter solo"></i></a></li>
            <li><a href="#" ><i class="typcn typcn-social-facebook solo"></i></a></li>
            <li><a href="#" ><i class="typcn typcn-social-github solo"></i></a></li>
        </ul>

    </div>

</div>