body{
	background: url('/images/admin/blurry-night-city-lights.jpg');
	background-size: cover;
}

.login-box{
    margin-top: 250px;
    opacity: 0.7;
    background-color: #FFF;
    padding:40px;
    border-radius: 5px;
}