@font-face {
    font-family: 'Ceviche One';
    font-style: normal;
    font-weight: 400;
    src: local('Ceviche One'), local('CevicheOne-Regular'), url(http://www.seekbetter.me/stylesheets/font/CevicheOne/Ceviche.woff) format('woff');
    src: url(http://www.seekbetter.me/stylesheets/font/CevicheOne/Ceviche.eot);
    src: local('Ceviche One'), local('CevicheOne-Regular'), url(http://www.seekbetter.me/stylesheets/font/CevicheOne/Ceviche.eot) format('embedded-opentype'), url(http://www.seekbetter.me/stylesheets/font/CevicheOne/Ceviche.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansLight.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansNormal.woff) format('woff');
    src: url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansNormal.eot);
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansNormal.eot) format('embedded-opentype'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansNormal.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansItalic.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://www.seekbetter.me/stylesheets/font/SourceSans/SourceSansSemibold.woff) format('woff');
}
