.sidebar{
    width: 250px;
    background: url('../images/bg-content.png') repeat ;
    /*border-right: 1px solid #aaa;*/
    height: 100%;
    position: fixed;
    box-shadow: -5px 0 30px -10px #565656 inset;
    left: 0;
    top: 0;
}

.logo img{
    height: 100px;
    margin: 50px 70px;
}

.nav-list{
    float: right;
    margin-right: 100px;
    text-align: right;
    line-height: 30px;
}

.content{
    padding-top: 1px;
    margin-left: 250px;
    height: 1200px;
    /*background: url('../images/bg-content.png') repeat ;*/
}