@charset "UTF-8";

/*----Google Font API----*/
/*@import url(http://fonts.googleapis.com/css?family=Ceviche+One);*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body{
    font-family:  "Source Sans Pro",sans-serif;
    font-weight: 300;
    color: #333333;
}

/*********************************************************************************/
/* Sidebar                                                                        */
/*********************************************************************************/

#header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    color: #fff;
    background: #1E293C;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
    text-align: right;
}

#header .top
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#header .bottom
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#header .icons
{
    font-size: 1.5em;
    margin: 0 0 1em 0;
    text-align: center;
}

#header .icons li {
    display: inline-block;
}

#header .icons a
{
    color: #216f99;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out;
}

#header .icons a:hover
{
    color: #fff;
}

#logo
{
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}

#logo h1
{
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    margin-top: .5em;
}

#logo .byline
{
    position: relative;
    display: block;
    font-size: 0.6em;
    color: rgba(255,255,255,0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}

#nav ul{
    font-size: 0.9em;
    margin:0;padding: 0;
    line-height: 2.5em;
}

#nav ul li a
{
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    position: relative;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

#nav ul li i
{
    position: absolute;
    top: 5px;
    right:20px;
    font-size: 1.5em;
}

#nav ul li span
{
    margin-right: 30px;
}



#nav ul li a.active
{
    background: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
    color: #fff;
}

/*********************************************************************************/
/* Sidebar                                                                        */
/*********************************************************************************/

.main{
    margin-left: 16%;
    height: 100%;
}


.seeker-logo{
    width: 120px;
    margin-top: 0.3em;
}

.seeker-title{
    font-family: 'Ceviche One', sans-serif;
    font-size: 3rem;
    margin-top:-0.3em;
    color: #FFF;
}

.seeker-subtitle{
    color: #FFF;
    font-size: 1rem;
}


/*********************************************************************************/
/* Article                                                                       */
/*********************************************************************************/

.article{
    padding: 50px 8%;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
    /*background: url('/public/images/overlay.png') repeat 0 0;*/
}

.article .title{
    font-size: 2rem;
}

.article .metadata{
    display: inline-block;
    padding: 1em 0;
    font-size: 0.9rem;
}

.article .metadata i{
    margin-right: 1em;
}

.article .metadata span{
    padding: 0 0.3em;
    font-style: normal;
}

/*********************************************************************************/
/* Wenson Smith                                                                       */
/*********************************************************************************/

.row .columns.left{
    padding: 50px 35px;
}

.logo .mylogo{
    width: 64px;
    float: left;
}
.logo .myname{
    font-size: 30px;
    color: #474D50;
    float: left;
    margin:5px 20px
}

.contact{
    margin-top: 120px;
    color: #8F99A1;
    font-weight: lighter;
    line-height: 40px;
}
.contact li span{
    color: #474D50;
    font-weight: bold;
    width: 60px;
    display: inline-block
}
.introduction{
    color: #8E9AA1;
    line-height: 20px;
    margin-top: 130px;
}

.introduction span{
    color: #474D50;
    font-weight: bold;
}

.tags span{
    padding: 3px 8px;
    display: inline-block;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #3A3B40;
    font-size: 12px;
    border-radius: 3px;
}

.tags span.blue{
    color: #66D3D9;
}
.tags span.red{
    color: #A85D8E;
}
.tags span.yellow{
    color: #EAC168;
}
.tags span.green{
    color: #65CE9B;
}

.tags span.interest{
    font-size: 16px;
}
.tags span.like{
    font-size: 18px;
}
.tags span.love{
    font-size: 22px
}




.row .columns.right{
    background-color: #3A3B40;
    padding: 60px 35px;
    height: 800px;
}

.right .caption{
    color: #83F5FA;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.right .title{
    color: #FFFFFF;
    margin-bottom:15px;
    font-size: 12px;
}

.right .description, .right .skill{
    color: #A9A7A3;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 25px;
}

.right .skill .bar{
    background-color: #252629;
}

.right .skill .score{
    height: 6px;
}

.right .skill .score.blue{
    background-color: #66D3D9;
}
.right .skill .score.red{
    background-color: #A85D8E;
}
.right .skill .score.green{
    background-color: #65CE9B;
}
.right .skill .score.yellow{
    background-color: #EAC168;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

.footer{
    background: url('/public/images/footerline.png') no-repeat center top #FFF;
    padding:80px 30px 30px 30px;
    text-align: center;
}