body{
	background: url('/images/admin/blurry-night-city-lights.jpg');
	background-size: cover;
}
/** ----------- 登陆页 -----------**/
.login-box{
    margin-top: 250px;
    opacity: 0.7;
    background-color: #FFF;
    border-radius: 5px;
}
    .login-box li{
        float: left;
        width: 90px;
        height: 90px;
        margin: 8px;
        background-color: #216f99;
    }