<!DOCTYPE HTML>
<html>
<head>
<title>{$pageName}-{$siteName}</title>

<!-- 编码 -->
<meta charset="utf-8">
<!-- 搜索关键词 -->
<meta name="keywords" content="Seeker Android PHP Dream" />
<!-- 页面描述 -->
<meta name="description" content="You Have To Find What You Love" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/google-bootstrap.css">
<link rel="stylesheet" type="text/css" href="__Public__/css/go.css">
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<label class="label-success">Hello</label>
</div>
</body>