<div class="sidebar">
    <a class="logo" href="/x/dashboard">
        <span class="typcn typcn-leaf"></span>
    </a>
    <a class="menu" href="">
        <span class="typcn typcn-th-large-outline"></span>
    </a>

    <a class="menu active" href="/x/article/add">
        <span class="typcn typcn-pen"></span>
    </a>

    <a class="menu" href="">
        <span class="typcn typcn-spiral"></span>
    </a>

    <a class="menu" href="">
        <span class="typcn typcn-chart-line-outline"></span>
    </a>

</div>